#profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 500px;
  font-size: large;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(48px);
  backdrop-filter: blur(48px);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 12px 12px 12px -20px rgba(0, 0, 0, 0.3);
  transform: perspective(1000px) scale(0.8);
  transform-style: preserve-3d;
}
#profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f2f5;
  margin: 0 auto 1rem;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  background: #7d988a;
  color: white;
  cursor: pointer;
  transition:
    transform 0.2s,
    background 0.2s;
  font-size: large;
}

#recomendations {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(48px);
  backdrop-filter: blur(48px);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 12px 12px 12px -20px rgba(0, 0, 0, 0.3);
}
#recBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.recomend-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.recomend-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-card img {
  max-width: 100%;
  height: 180px;
  object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
}

.product-card h3 {
  margin: 8px 0;
  font-size: 14px;
}
.product-card .category {
  font-size: 12px;
  color: #867676;
  margin-bottom: 6px;
}

.product-card .price {
  font-weight: bold;
  font-size: 10px;
}
.product-card button {
  padding: 8px;
  border: none;
  background-color: #2b3a49;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.product-card button:hover {
  background-color: #2e5781;
}
