* {
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #788c94;
  font-family: arial, sans-serif;
}


#loginForm {
  display: flex;
  flex-direction: column;

  gap: 10px;
  max-width: 400px;
  background-color: #ffffffa5;
  padding: 40px;
  border-radius: 20px;
  position: relative;
}

input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

button {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.error {
  color: red;
}